*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.ind
*.dvi
*.ps
*.pdf
*.eps
*.pdfsync
*.xdv
*.run.xml
*.bcf
*.blx.bib
*.maf
*.mtc*
*.mtc0
*.pdfpc
*.pdfpcnotes
*.thm
*.synctex
*.synctex.gz
# latext gitignore 