catppuccin-jupyterlab
email-validator
inflect
ipdb
ipykernel
jupyter
jupyter-collaboration
jupyter-collaboration-ui
jupyter-console
jupyter-docprovider
jupyter-events
jupyter-lsp
jupyter-server-ydoc
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyterlab
jupyterlab-lsp
jupyterlab-vim
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupytext
nbclassic
nbclient
nbconvert
nbformat
networkx
notebook
pandas
reverse_geocoder
tqdm
